:root {
  --primary-color: #f47738;
  --secondary-color: #0b0c0c;
  --text-color: #333;
  --background-light: #f0f0f0;
  --background-dark: #f8f9fa;
  --border-color: #ddd;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --modal-background: #fff;
}

.timeline-box {
  display: flex;
  margin: 0 8px 15px;
}

.timeline-checkpoints {
  position: relative;
  flex: 1;
  z-index: 1;
}

.timeline-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-contents span {
  text-align: center;
}

.timeline-contents .secondary-colors {
  color: var(--secondary-color);
  padding: 5px;
  font-size: small;
}

.line {
  position: absolute;
  top: 7px;
  left: calc(50% + 14px);
  right: calc(-50% + 14px);
  border-top: 16px solid #fff;
  z-index: -1;
}

.circles {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid var(--primary-color);
}

.circles.completed {
  background-color: var(--primary-color);
  display: flex;
}

.TLComments {
  max-width: 360px;
  margin-bottom: 8px;
  padding: 8px;
  background-color: var(--background-light);
}

.TLComments h3 {
  font-weight: bold;
  font-size: 14px;
}

.TLComments p {
  font-size: 16px;
}

.bmc-tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  z-index: 100;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.bmc-tooltip::before {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .line {
    top: 10px;
    border-top-width: 10px;
  }

  .TLComments {
    width: 320px;
  }

  .TLComments h3 {
    font-size: 12px;
  }

  .TLComments p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .timeline-box {
    flex-direction: row;
    align-items: stretch;
  }

  .secondary-colors {
    display: none;
  }

  .line {
    border-top-width: 10px;
  }

  .TLComments {
    width: 280px;
  }

  .TLComments h3 {
    font-size: 10px;
  }

  .TLComments p {
    font-size: 12px;
  }
}

/* BMC Card Styles */
.bmc-card-full {
  width: 100%;
  padding: 0 4rem;
}

.bmc-card-aadharimage {
  background-image: url("../img/aadhaarCard.jpg");
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-repeat: round;
}

.aadhaar-container {
  text-align: center;
}

.bmc-row-card-header {
  background-color: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--shadow-color);
  padding: 2rem;
  max-width: 100%;
  margin-bottom: 1rem;
  transition: box-shadow 0.3s ease;
}

.bmc-card-row {
  width: 100%;
}

.bmc-col-large-header {
  width: 80%;
}

.bmc-col-small-header {
  width: 20%;
}

.bmc-col1-card,
.bmc-col2-card,
.bmc-col3-card {
  padding: 5px;
  box-sizing: border-box;
  float: left;
}

.bmc-col1-card {
  width: 33.33%;
}

.bmc-col2-card {
  width: 50%;
}

.bmc-col3-card {
  width: 25%;
}

.bmc-card-button,
.bmc-card-button-cancel {
  width: 147px;
  height: 48px;
  outline: none;
  color: white;
}

.bmc-card-button {
  background-color: var(--primary-color);
}

.bmc-card-button-cancel {
  background-color: #b1b4b6;
  color: black;
}

.bmc-card-master-button {
  background-color: #5aae06;
  width: 174px;
}

.bmc-radio-wrap {
  margin-top: 8px;
  margin-bottom: 24px;
  line-height: 2.5rem;
}

.bmc-radio-wrap div {
  display: block;
}

.bmc-radio-btn-wrap {
  position: relative;
}

.bmc-radio-btn-wrap:hover .bmc-radio-btn-checkmark {
  border-color: var(--primary-color);
}

.bmc-radio-btn {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.bmc-radio-btn-checkmark {
  height: 2rem;
  width: 2rem;
  border: 1px solid #464646;
  border-radius: 50%;
}

.bmc-radio-btn:checked + .bmc-radio-btn-checkmark {
  border-color: var(--primary-color);
}

.bmc-radio-btn:checked + .bmc-radio-btn-checkmark:after {
  display: block;
  background-color: var(--primary-color);
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
}

.bmc-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
  padding-bottom: 1rem;
}

/* Grid and Table */
.bmc-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.bmc-table-container {
  padding: 3rem;
  border-radius: 4px;
}

.bmc-hover-table {
  width: 100%;
  border-collapse: collapse;
}

.bmc-hover-table th,
.bmc-hover-table td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}

.bmc-hover-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.bmc-hover-table tr:hover {
  background-color: #f1f1f1;
}

.bmc-range-slider {
  width: 100%;
}

.bmc-range-container {
  position: relative;
}

.bmc-range-slider::-webkit-slider-thumb,
.bmc-range-slider::-moz-range-thumb,
.bmc-range-slider::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: -5px;
}

.bmc-range-slider::-webkit-slider-runnable-track,
.bmc-range-slider::-moz-range-track,
.bmc-range-slider::-ms-track {
  height: 4px;
}

.bmc-range-slider::-webkit-slider-thumb::before {
  content: attr(value);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: var(--text-color);
}

.bmc-range-slider::-moz-range-progress {
  background-color: #4caf50;
}

.bmc-range-container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ccc;
}

.bmc-pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bmc-pagination-info {
  font-size: 14px;
}

.bmc-pagination {
  display: inline-block;
  padding: 0;
  margin: 20px 0;
  list-style-type: none;
}

.bmc-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.bmc-pagination li button {
  background-color: var(--background-dark);
  border: 1px solid #dee2e6;
  color: var(--text-color);
  padding: 5px 10px;
  cursor: pointer;
}

.bmc-pagination li button:hover {
  background-color: #e9ecef;
}

.bmc-pagination li.active button {
  background-color: var(--primary-color);
  color: #fff;
}

.bmc-pagination li.disabled button {
  cursor: not-allowed;
  opacity: 0.5;
}

.bmc-pagination li:first-child button::before {
  content: "\00AB";
}

.bmc-pagination li:last-child button::after {
  content: "\00BB";
}

.bmc-course-amount {
  text-align: end;
}

/* Modal */
.bmc-modal .header-content,
.bmc-modal .header-wrap {
  width: 100%;
  margin: 0 0 1rem;
}

.bmc-modal .popup-module {
  width: 650px;
  text-align: center;
  padding-bottom: 1rem;
  border-radius: 10px;
  background-color: var(--modal-background);
}

.bmc-modal .popup-module-main {
  padding: 0;
}

.toggle-switch {
  position: relative;
  width: 140px;
  /* Ensure this width is enough for the longest label */
  display: inline-block;
  top: 5px;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 8px;
  height: 33px;
  /* Ensure height is sufficient for text */
  position: relative;
  /* Ensure proper alignment */
}

.toggle-switch-inner {
  display: flex;
  /* Use flex to center content */
  width: 200%;
  /* Ensure the inner width fits both labels */
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner:before,
.toggle-switch-inner:after {
  flex: 1;
  /* Each half takes up equal space */
  height: 100%;
  padding: 0;
  /* Remove any padding */
  line-height: 30px;
  /* Center text vertically */
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  /* Center text horizontally */
}

.toggle-switch-inner:before {
  content: attr(data-yes);
  background-color: #038403;
  color: #fff;
}

.toggle-switch-inner:after {
  content: attr(data-no);
  background-color: #940202;
  color: #fff;
}

.toggle-switch-switch {
  display: block;
  width: 34px;
  /* Match the height for a square switch */
  margin: 0;
  background: #f47738;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  /* Ensure left starts at the beginning of the switch */
  border: 2px solid #ddd;
  border-radius: 8px;
  transition: all 0.3s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  left: calc(100% - 31px);
  /* Adjust to match the width */
}

.toggle-switch.disabled .toggle-switch-label {
  cursor: not-allowed;
  opacity: 0.5;
}

.bmc-card-full {
  width: 100%;
  float: left;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 20px;
}

.bmc-row-card-header {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.bmc-card-row,
.bmc-row-card-header {
  width: 100%;
  float: left;
}

.bmc-col-large-header {
  width: 80%;
}

.bmc-col-large-header,
.bmc-col-small-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.bmc-col-small-header {
  width: 20%;
}

.bmc-col1-card {
  width: 33.33%;
}

.bmc-col1-card,
.bmc-col2-card {
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.bmc-col2-card {
  width: 50%;
}

.bmc-col3-card {
  width: 25%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.bmc-card-button-cancel {
  background-color: #b1b4b6;
  width: 147px;
  height: 48px;
  color: "black";
  outline: "none";
}

.bmc-card-button-cancel:focus {
  outline: "none";
}

.bmc-radio-wrap {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  line-height: 2rem;
  margin-bottom: 5px;
}

.bmc-radio-wrap div {
  display: block;
}

.bmc-radio-wrap .bmc-radio-btn-wrap {
  display: block;
  float: left;
  position: relative;
}

.bmc-radio-wrap .bmc-radio-btn-wrap:hover .bmc-radio-btn-checkmark {
  border-color: #f47738;
}

.bmc-radio-wrap .bmc-radio-btn {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.bmc-radio-wrap .bmc-radio-btn-checkmark {
  height: 2rem;
  width: 2rem;
  border: 1px solid #464646;
  border-radius: 9999px;
  display: block;
}

.bmc-radio-wrap label {
  color: #0b0c0c;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 3rem;
}

.bmc-radio-wrap .bmc-radio-btn-checkmark:after {
  content: "";
}

.bmc-radio-wrap .bmc-radio-btn:checked + .bmc-radio-btn-checkmark {
  border-color: #f47738;
}

.bmc-radio-wrap .bmc-radio-btn:checked + .bmc-radio-btn-checkmark:after {
  display: block;
  background-color: #f47738;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 9999px;
  position: absolute;
  top: 6px;
  left: 6px;
}

.bmc-title {
  font-size: 24px;
  font-weight: 700;
  color: #0b0c0c;
  padding-bottom: 1rem;
}

.bmc-card-button {
  background-color: #f47738;
  width: 147px;
  height: 48px;
  color: #fff;
  outline: none;
}

.bmc-card-button:focus {
  outline: none;
}

.bmc-card-master-button {
  background-color: #5aae06;
  width: 174px;
  height: 48px;
  color: #fff;
  outline: none;
}

.bmc-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.bmc-table-container {
  padding: 3rem;
  border-radius: 4px;
}

.bmc-hover-table {
  width: 100%;
  border-collapse: collapse;
}

.bmc-hover-table td,
.bmc-hover-table th {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.bmc-hover-table th {
  background-color: #f2f2f2;
  font-weight: 700;
}

.bmc-hover-table tr:hover {
  background-color: #f1f1f1;
}

.bmc-range-slider {
  width: 100%;
}

.bmc-range-container {
  position: relative;
}

.bmc-range-slider::-webkit-slider-runnable-track {
  height: 4px;
}

.bmc-range-slider::-moz-range-track {
  height: 4px;
}

.bmc-range-slider::-ms-track {
  height: 4px;
}

.bmc-range-slider::-moz-range-progress {
  background-color: #4caf50;
}

.bmc-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: -5px;
}

.bmc-range-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.bmc-range-slider::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.bmc-range-container:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ccc;
}

.bmc-range-slider::-webkit-slider-runnable-track:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ccc;
}

.bmc-range-slider::-webkit-slider-thumb:before {
  content: attr(value);
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 12px;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .bmc-card-aadharimage {
    display: none;
  }

  .bmc-radio-wrap {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    gap: 12px;
    margin-bottom: 5px;
  }

  .bmc-title {
    padding-bottom: 0;
    padding-left: 0;
  }

  .bmc-card-full {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .bmc-col1-card,
  .bmc-col2-card,
  .bmc-col3-card {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }

  .bmc-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .bmc-col-large-header {
    width: 70%;
  }

  .bmc-col-small-header {
    width: 30%;
  }

  .bmc-responsive-checkbox {
    width: 35px;
    height: 35px;
  }

  .bmc-hover-table {
    border: 0;
  }

  .bmc-hover-table thead {
    display: none;
  }

  .bmc-hover-table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .bmc-hover-table td {
    display: block;
    font-size: 14px;
    text-align: right;
    border-bottom: 1px dotted #ccc;
  }

  .bmc-hover-table td:last-child {
    border-bottom: 0;
  }

  .bmc-hover-table td:before {
    content: attr(data-label);
    font-weight: 700;
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  .bmc-card-aadharimage {
    display: none;
  }

  .bmc-radio-wrap {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    gap: 12px;
    margin-bottom: 5px;
  }

  .bmc-title {
    padding-bottom: 0;
    padding-left: 0;
  }

  .bmc-card-full {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .bmc-col1-card,
  .bmc-col2-card,
  .bmc-col3-card {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }

  .bmc-card-grid {
    grid-template-columns: 1fr;
  }

  .bmc-col-large-header {
    width: 100%;
    float: none;
  }

  .bmc-col-small-header {
    width: 100%;
    float: none;
    margin-top: 10px;
  }
}

.bmc-pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.bmc-pagination-info {
  font-size: 14px;
}

.bmc-pagination {
  display: inline-block;
  padding: 0;
  margin: 20px 0;
  list-style-type: none;
}

.bmc-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.bmc-pagination li button {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
}

.bmc-pagination li button:hover {
  background-color: #e9ecef;
}

.bmc-pagination li.active button {
  background-color: #f47738;
  color: #fff;
}

.bmc-pagination li.disabled button {
  cursor: not-allowed;
  opacity: 0.5;
}

.bmc-pagination li:first-child button:before {
  content: "\00AB";
}

.bmc-pagination li:last-child button:after {
  content: "\00BB";
}

.bmc-modal .header-content {
  width: 100%;
}

.bmc-modal .header-wrap {
  margin: 0;
}

.bmc-modal .popup-module {
  width: 650px;
  text-align: center;
  padding-bottom: 1rem;
  border-radius: 10px;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.bmc-modal .popup-module-main {
  padding: 0;
}